h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.rectangle {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

.dog {
  background-image: url(doggo.png);
  background-position: 50% 50%;
}

.cat {
  background-image: url(https://placekitten.com/600);
  background-position: 50% 20%;
}

.cat:hover {
  visibility: hidden;
}

main {
  padding: 50px 100px;
}

a:visited {
}
